
<a href="javascript:history.go(-1)">Back</a>
<br/><br/>

<?php
    echo $this->Form->create('Comment');
    echo $this->Form->input('body', array('rows' => '3', 'label' => 'Comment'));
    echo $this->Form->end('Comment');
?>