
    .container-home {
        height: auto;
    }

    .header-menu {
        margin-left: 30px;
    }

    .header-sub-menu {
       margin-left: 30px;
       margin-top: 10px;
    }

    .label {
        margin-left: 30px;
    }

    .post-box {
        border: 1px solid black;
        border-radius: 10px;
        height: 100px;
        width: 600px;
        margin-left: 30px;
    }

    .image {
        position: relative;
        left: 15px;
        top: 15px;
        width: 565px;
    }

    .user {
        position: relative;
        left: 110px;
        top: -60px;
        width: 470px;
    }

    .pagination {
        position: relative;
        left: 260px;
        width: 300px;
    }

    .date-created {
        position: relative;
        float: right;
        right: 20px;
        /*left: 420px;*/
        top: -75px;
        width: 160px;
        text-align: right;
    }

    .body {
        position: relative;
        left: 110px;
        top: -50px;
        width: 470px;
    }

    .edit-delete {
        position: relative;
        left: 490px;
        top: -54px;
        width: 90px;
    }

    