
    .container-home {
        height: auto;
    }

    .header-menu {
        margin-left: 30px;
    }

    .header-sub-menu {
       margin-left: 30px;
       margin-top: 10px;
    }

    .notifications {
        border: 1px solid black;
        border-radius: 10px;
        height: 100px;
        width: 600px;
        margin-left: 30px;
    }

    .image {
        position: relative;
        left: 15px;
        top: 15px;
        width: 565px;
    }

    .user {
        position: relative;
        left: 110px;
        top: -60px;
        width: 470px;
    }

    .body {
        position: relative;
        left: 110px;
        top: -68px;
        width: 470px;
    }
    
    .date-created {
        position: relative;
        left: 420px;
        top: -75px;
        width: 160px;
    }

    .view-profile {
        position: relative;
        left: 110px;
        top: -60px;
    }