
    h3 {
        margin-left: 30px;
    }
    
    .result-box {
        border: 1px solid black;
        border-radius: 10px;
        height: 100px;
        width: 500px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .image {
        position: relative;
        left: 35px;
        top: 15px;
    }

    .name {
        position: relative;
        left: 150px;
        top: -60px;
        font-size: 18px;
    }

    .username {
        position: relative;
        left: 150px;
        top: -60px;
    }

    .view-profile {
        position: relative;
        left: 150px;
        top: -45px;
    }