
	.post-container {
		margin-top: 10px;
		width: 960px;
        height: auto;
	}

	.left {
		margin: 2px;
		float: left;
		width: 200px;
		height: 150px;
	}

	.middle {
		margin: 2px;
		float: left;
		width: 500px;
		height: 150px;
	}

	.right {
		margin: 2px;
		float: left;
		width: 250px;
		height: 150px;
	}

	.image-view-user {
        margin-top:20px;
        float: right;
	}

    .post-followers-following-view {
    	position: relative;
    	left: 65px;
    	top: 27px;
    }

	.post-view {
        float: left;
        width: 120px;
	}

	.followers-view {
        float: left;
        width: 120px;
	}

	.following-view {
        float: left;
        width: 120px;
	}

	.header-label {
		font-size: 14px;
	}

	.name-label {
		margin-top: 22px;
		font-size: 20px;
	}

	.details {
		margin-top: 18px;
	}